

<a href="@Url.Action("orders", "orders")" class="nav-link">
    <i class="bi bi-cart text-white" style="font-size: 20px"></i> 
    <span id="cart-item-count" class="position-relative top-0 start-0 translate-middle badge rounded-pill bg-danger p-1 border border-dark" style="font-size: 18px">@ViewData["cartitemcount"]</span>
</a>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 

<script>
    function updatecartitemcount() {
        $.ajax({    
            url: '@Url.Action("getcartitemcount", "orders")', 
            method: 'get',
            success: function (data) {
                $('#cart-item-count').text(data);
            },
            error: function (error) {
                console.error('error fetching cart item count:', error);
            }
        });
    }
    updatecartitemcount();
</script>
