@using Microsoft.AspNetCore.Identity
@using System.Text;
@using Newtonsoft.Json;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>B2C2Frietzaak</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/B2C2Frietzaak.styles.css" asp-append-version="true" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-dark bg-success shadow-lg mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/Assets/LogoFrietzaak.png" width="75" height="50" title="Logo" alt="Logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav text-white-50 flex-grow-1">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item mx-1">
                                    <a class="btn btn-outline-light nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item mx-1">
                                    <a class="btn btn-outline-light nav-link text-white" asp-area="" asp-controller="Products" asp-action="ProductsOverview">Beheer Producten</a>
                                </li>
                                <li class="nav-item mx-1">
                                    <a class="btn btn-outline-light nav-link text-white" asp-area="" asp-controller="Admin" asp-action="ListUsers">Beheer Klanten</a>
                                </li>
                                <li class="nav-item mx-1">
                                    <a class="btn btn-outline-light nav-link text-white" asp-area="" asp-controller="Orders" asp-action="AllOrders">Beheer Bestellingen</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item mx-1">
                                    <a class="btn btn-outline-light nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item mx-1">
                                    <a class="btn btn-outline-light nav-link text-white" asp-area="" asp-controller="Orders" asp-action="Orders">Bestellen</a>
                                </li>
                                <li class="nav-item mx-1">
                                    <a class="btn btn-outline-light nav-link text-white" asp-area="" asp-controller="Orders" asp-action="MyOrders">Mijn Bestellingen</a>
                                </li>

                            }}
                    </ul>    
                    <partial name="_CartIconPartial"/>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="footerMain">
            <p class="mx-1">
                &copy; 2023 - Job van der Wal - B2C2
            </p>
            <a href="https://github.com/Jowaaaa/B2C2_inleveropdracht" class="text-white bi bi-github"></a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
