@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="btn btn-outline-secondary nav-link text-white-50 mx-1" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage user</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-danger text-white-50 mx-1">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="btn btn-outline-secondary nav-link text-white-50" asp-area="Identity" asp-page="/Account/Register">Registreren</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white-50" asp-area="Identity" asp-page="/Account/Login">Inloggen</a>
    </li>
}
</ul>
