@model IEnumerable<B2C2Frietzaak.Models.Sauce>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InleveropdrachtB2C2Frietzaak.styles.css" asp-append-version="true" />
</head>
<body class="bg-dark text-white-50">
    <div>
        <div class="d-flex justify-content-between">
            <h1>Alle Sauzen</h1>
             </div>
        <table class="table table-dark text-white-50">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SauceName)
                    </th>
                    <th>
                        Manage
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SauceName)
                        </td>
                        <td>
                            <a class="btn btn-outline-primary" asp-action="EditSauce" asp-route-id="@item.SauceId">Edit</a>
                            <a class="btn btn-outline-danger" asp-action="DeleteSauce" asp-route-id="@item.SauceId">Delete</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between">
        <a asp-controller="Products" asp-action="ProductsOverview" class="btn btn-outline-secondary"><i class="bi bi-arrow-90deg-left"></i></a>
        <a class="btn btn-outline-success flex-column ms-auto" asp-action="AddSauce">Saus Toevoegen</a>     
    </div>

</body>
</html> 