@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InleveropdrachtB2C2Frietzaak.styles.css" asp-append-version="true" />
</head>
<body class="bg-image text-white-50"
      style="background-image: url('https://media.discordapp.net/attachments/959570592028323882/1156627260657377300/B2C2BG.jpg?ex=651e3a54&is=651ce8d4&hm=0be0482d87e8b7e62d9711bcbaa26d0ccfb97cda52ace7b6db051ed73f7cca6c&=&width=1071&height=612');
                background-size: cover;
                padding-top: 100px"> @* https://stackoverflow.com/questions/43214466/resizing-background-image-with-bootstrap *@
      <div class="text-center text-white pt-5">
          <h5>Welkom bij</h5>
          <h1>De Frietzaak</h1>
      

    @if (User.IsInRole("Admin"))
    {
            
    }
    else
    {
            <div style="position: absolute; top: 80%; left: 50%; transform: translate(-50%, -50%);">
                <a class="btn btn-success nav-link text-white" asp-area="" asp-controller="Orders" asp-action="Orders">Bestellen</a> 
            </div>
    }

    </div>
</body>
</html>