@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InleveropdrachtB2C2Frietzaak.styles.css" asp-append-version="true" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
</head>
<body class="bg-dark text-white-50" style="padding-top: 100px">
    <h3 class="text-center">Wachtwoord vergeten?</h3>
    <h5 class="text-center">Vul je e-mail in.</h5>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="w-50 mx-auto">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email" class="form-label text-black-50"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="d-flex">
                            <button asp-action="Index" class="btn btn-outline-secondary bi bi-arrow-90deg-left m-2"></button>
                            <button type="submit" class="w-100 btn btn-lg btn-primary m-2">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
