@model B2C2Frietzaak.Models.Product

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InleveropdrachtB2C2Frietzaak.styles.css" asp-append-version="true" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
</head>
<body class="bg-dark text-white-50" style="padding-top: 100px">
    <div class="row mt-5 justify-content-center">
        <div class="col-md-4">
            <form asp-action="AddProducts" enctype="multipart/form-data"> @* https://stackoverflow.com/questions/4526273/what-does-enctype-multipart-form-data-mean *@
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories, "CategoryId", "Name"))" class="form-control">
                        <option value="">Select a Category</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input type="file" asp-for="ImageFile" class="form-control"/>
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="from-group float-start mt-2">
                    <button asp-action="ProductsOverview" class="btn btn-outline-secondary"><i class="bi bi-arrow-90deg-left"></i></button>
                </div>
                <div class="form-group float-end mt-2">
                    <input type="submit" value="Toevoegen" class="btn btn-outline-success" />
                </div>
            </form>
        </div>
    </div>
</body>
</html> 